<a href="https://colab.research.google.com/github/Jiwon510/KNUT_Club/blob/master/Pandas%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Series 생성
import pandas as pd

# Series 선언 
data_series = pd.Series([1,2,3,4,5,'A','B','C','가','나','다'])

print(data_series)
print(type(data_series))

0     1
1     2
2     3
3     4
4     5
5     A
6     B
7     C
8     가
9     나
10    다
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
#index 설정
import pandas as pd

# 두 개의 리스트로 인덱스 설정(두번째 리스트가 인덱스로 설정)
data_series1 = pd.Series([1,2,3,4,5,'A','B','C','가','나','다'],['a','b','c','d','e','f','g','h','i','j','k'])
print(data_series1)

# index의 인수로 인덱스 설정
data_series2 = pd.Series([1,2,3,4,5,'A','B','C','가','나','다'], index = ['a','b','c','d','e','f','g','h','i','j','k'])
print(data_series2)

a    1
b    2
c    3
d    4
e    5
f    A
g    B
h    C
i    가
j    나
k    다
dtype: object
a    1
b    2
c    3
d    4
e    5
f    A
g    B
h    C
i    가
j    나
k    다
dtype: object

In [ ]:
# 딕셔너리로 인덱스 설정
import pandas as pd

# key = 인덱스, value = 값
data_series1 = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})
print(data_series1)


#중복된 키가 있을 경우 첫번째 값은 삭제되고 두번째 값만 존재 
data_series2 = pd.Series({'a':1, 'b':2, 'c':3, 'c':4, 'e':5})
print(data_series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
b    2
c    4
e    5
dtype: int64

In [ ]:
# 딕셔너리로 DataFrame 생성 예제 
import pandas as pd

data_frame = pd.DataFrame({'A':[1,2,3,4], 'B':[5,6,7,8]})
print(data_frame)
print(type(data_frame))

   A  B
0  1  5
1  2  6
2  3  7
3  4  8
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#속성과 값을 따로정하여 DataFrame 생성하는 예제
import pandas as pd

data_frame = pd.DataFrame([[1,5], [2,6], [3,7], [4,8]], columns=['A','B'])
print(data_frame )
print(type(data_frame))

   A  B
0  1  5
1  2  6
2  3  7
3  4  8
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# CSV 읽어오기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
print(data)

        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
5   201006    58    96   60
6   201007    95    70   80
7   201008    71    73   51
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66

In [ ]:
# EXCEL 읽어오기
import pandas as pd

# 엑셀파일에서 빈공간이 존재하면 NaN, Unnamed라는 이름으로 생성
data = pd.read_excel('/sample_data/sample.xlsx')
print(data)

    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0          NaN         학번       운영체제       논리회로         DB
1          NaN     201001         64         60         84
2          NaN     201002         98         55         79
3          NaN     201003         82         94        100
4          NaN     201004         69         93         52
5          NaN     201005         78         75         85
6          NaN     201006         58         96         60
7          NaN     201007         95         70         80
8          NaN     201008         71         73         51
9          NaN     201009         81         52         62
10         NaN     201010         51         87         80
11         NaN     201011         89         94         56
12         NaN     201012         69         98         51
13         NaN     201013         98         99         77
14         NaN     201014         62         60         54
15         NaN     201015         53         58         62
16         NaN     201016         81         88         87
17         NaN     201017         53         74         98
18         NaN     201018         56         67         68
19         NaN     201019         87         65         70
20         NaN     201020         50         54         66

In [ ]:
# 인덱스 설정 : set_index()

# drop = False
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

# 인덱스도 학번으로 바뀌고 원래 존재하던 열도 삭제되지 않음
data2 = data.set_index('학번', drop = False)
print(data2)

            학번  운영체제  논리회로   DB
학번
201001  201001    64    60   84
201002  201002    98    55   79
201003  201003    82    94  100
201004  201004    69    93   52
201005  201005    78    75   85
201006  201006    58    96   60
201007  201007    95    70   80
201008  201008    71    73   51
201009  201009    81    52   62
201010  201010    51    87   80
201011  201011    89    94   56
201012  201012    69    98   51
201013  201013    98    99   77
201014  201014    62    60   54
201015  201015    53    58   62
201016  201016    81    88   87
201017  201017    53    74   98
201018  201018    56    67   68
201019  201019    87    65   70
201020  201020    50    54   66

In [ ]:
# 인덱스 설정 : set_index()

# drop = True
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

# 인덱스도 학번으로 바뀌고 원래 존재하던 열 삭제
data2 = data.set_index('학번', drop = True)
print(data2)

        운영체제  논리회로   DB
학번
201001    64    60   84
201002    98    55   79
201003    82    94  100
201004    69    93   52
201005    78    75   85
201006    58    96   60
201007    95    70   80
201008    71    73   51
201009    81    52   62
201010    51    87   80
201011    89    94   56
201012    69    98   51
201013    98    99   77
201014    62    60   54
201015    53    58   62
201016    81    88   87
201017    53    74   98
201018    56    67   68
201019    87    65   70
201020    50    54   66

In [ ]:
# 인덱스 설정 : reset_index()

# drop = False
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data = data.set_index('학번', drop = True)
data2 = data.reset_index(drop = False)
print(data)
print(data2)

        운영체제  논리회로   DB
학번
201001    64    60   84
201002    98    55   79
201003    82    94  100
201004    69    93   52
201005    78    75   85
201006    58    96   60
201007    95    70   80
201008    71    73   51
201009    81    52   62
201010    51    87   80
201011    89    94   56
201012    69    98   51
201013    98    99   77
201014    62    60   54
201015    53    58   62
201016    81    88   87
201017    53    74   98
201018    56    67   68
201019    87    65   70
201020    50    54   66
        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
5   201006    58    96   60
6   201007    95    70   80
7   201008    71    73   51
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66

In [ ]:
# 인덱스 설정 : reset_index()

# drop = True
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data = data.set_index('학번', drop = True)
data2 = data.reset_index(drop = False)
print(data)
print(data2)

        운영체제  논리회로   DB
학번
201001    64    60   84
201002    98    55   79
201003    82    94  100
201004    69    93   52
201005    78    75   85
201006    58    96   60
201007    95    70   80
201008    71    73   51
201009    81    52   62
201010    51    87   80
201011    89    94   56
201012    69    98   51
201013    98    99   77
201014    62    60   54
201015    53    58   62
201016    81    88   87
201017    53    74   98
201018    56    67   68
201019    87    65   70
201020    50    54   66
        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
5   201006    58    96   60
6   201007    95    70   80
7   201008    71    73   51
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66

In [ ]:
# 데이터 전체 개수 확인
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

print(data)
print("데이터의 전체 크기는" , data.size)

        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
5   201006    58    96   60
6   201007    95    70   80
7   201008    71    73   51
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66
데이터의 전체 크기는 80

In [ ]:
# 데이터 columns 확인
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_columns = data.columns
print(data_columns )

columns_len = len(data_columns)
print("데이터의 columns 크기는" , columns_len)

Index(['학번', '운영체제', '논리회로', 'DB'], dtype='object')
데이터의 columns 크기는 4

In [ ]:
# 데이터 values 확인
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_values = data.values
print(data_values)

values_len = len(data_values)
print("데이터의 values 크기는" , values_len)

[[201001     64     60     84]
 [201002     98     55     79]
 [201003     82     94    100]
 [201004     69     93     52]
 [201005     78     75     85]
 [201006     58     96     60]
 [201007     95     70     80]
 [201008     71     73     51]
 [201009     81     52     62]
 [201010     51     87     80]
 [201011     89     94     56]
 [201012     69     98     51]
 [201013     98     99     77]
 [201014     62     60     54]
 [201015     53     58     62]
 [201016     81     88     87]
 [201017     53     74     98]
 [201018     56     67     68]
 [201019     87     65     70]
 [201020     50     54     66]]
데이터의 values 크기는 20

In [ ]:
# column 데이터 선택
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data['운영체제']
data_2 = data.운영체제
data_3 = data[['운영체제', '논리회로']]

print(data_1)
print(data_2)
print(data_3)

0     64
1     98
2     82
3     69
4     78
5     58
6     95
7     71
8     81
9     51
10    89
11    69
12    98
13    62
14    53
15    81
16    53
17    56
18    87
19    50
Name: 운영체제, dtype: int64
0     64
1     98
2     82
3     69
4     78
5     58
6     95
7     71
8     81
9     51
10    89
11    69
12    98
13    62
14    53
15    81
16    53
17    56
18    87
19    50
Name: 운영체제, dtype: int64
    운영체제  논리회로
0     64    60
1     98    55
2     82    94
3     69    93
4     78    75
5     58    96
6     95    70
7     71    73
8     81    52
9     51    87
10    89    94
11    69    98
12    98    99
13    62    60
14    53    58
15    81    88
16    53    74
17    56    67
18    87    65
19    50    54

In [ ]:
# row 데이터 선택
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data[0:5]
print(data_1)

       학번  운영체제  논리회로   DB
0  201001    64    60   84
1  201002    98    55   79
2  201003    82    94  100
3  201004    69    93   52
4  201005    78    75   85

In [ ]:
# loc 데이터 선택
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data.loc[0]
data_2 = data.loc[0:3, ['논리회로','운영체제']]

print(data_1)
print(data_2)

학번      201001
운영체제        64
논리회로        60
DB          84
Name: 0, dtype: int64
   논리회로  운영체제
0    60    64
1    55    98
2    94    82
3    93    69

In [ ]:
# iloc으로 데이터 선택
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data.iloc[0, 1:4]
data_2 = data.iloc[0:3, [1,3]]
data_3 = data.iloc[[2,4,10], [1,2]]

print(data_1)
print(data_2)
print(data_3)

운영체제    64
논리회로    60
DB      84
Name: 0, dtype: int64
   운영체제   DB
0    64   84
1    98   79
2    82  100
    운영체제  논리회로
2     82    94
4     78    75
10    89    94

In [ ]:
# 한 개의 데이터 선택
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data.loc[0, ['논리회로']]
data_2 = data.iloc[2, [1]]
data_3 = data.at[0, '논리회로']
data_4 = data.iat[2, 1]

print(data_1)
print(data_2)
print(data_3)
print(data_4)

논리회로    60
Name: 0, dtype: int64
운영체제    82
Name: 2, dtype: int64
60
82

In [ ]:
# 조건을 이용한 데이터 선택
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data[data['논리회로'] >= 80]
print(data_1)

data_2 = data[(data['논리회로'] >= 60) & (data['운영체제'] >= 90) ]
print(data_2)

        학번  운영체제  논리회로   DB
2   201003    82    94  100
3   201004    69    93   52
5   201006    58    96   60
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
15  201016    81    88   87
        학번  운영체제  논리회로  DB
6   201007    95    70  80
12  201013    98    99  77

In [ ]:
# 필터를 이용한 데이터 선택 : isin()
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data['논리회로'].isin([60,93])
print(data_1)

data_2 = data[data['논리회로'].isin([60,93])]
print(data_2)

data_3 = data[data.isin( [ 60, 98] )]
print(data_3)

0      True
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
Name: 논리회로, dtype: bool
        학번  운영체제  논리회로  DB
0   201001    64    60  84
3   201004    69    93  52
13  201014    62    60  54
    학번  운영체제  논리회로    DB
0  NaN   NaN  60.0   NaN
1  NaN  98.0   NaN   NaN
2  NaN   NaN   NaN   NaN
3  NaN   NaN   NaN   NaN
4  NaN   NaN   NaN   NaN
5  NaN   NaN   NaN  60.0
6  NaN   NaN   NaN   NaN
7  NaN   NaN   NaN   NaN
8  NaN   NaN   NaN   NaN
9  NaN   NaN   NaN   NaN
10 NaN   NaN   NaN   NaN
11 NaN   NaN  98.0   NaN
12 NaN  98.0   NaN   NaN
13 NaN   NaN  60.0   NaN
14 NaN   NaN   NaN   NaN
15 NaN   NaN   NaN   NaN
16 NaN   NaN   NaN  98.0
17 NaN   NaN   NaN   NaN
18 NaN   NaN   NaN   NaN
19 NaN   NaN   NaN   NaN

In [ ]:
# 열 값 전체 변경하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
print(data)

data['DB'] =[57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
print(data)

        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
5   201006    58    96   60
6   201007    95    70   80
7   201008    71    73   51
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66
        학번  운영체제  논리회로   DB
0   201001    64    60   57
1   201002    98    55   54
2   201003    82    94   53
3   201004    69    93   80
4   201005    78    75   84
5   201006    58    96   88
6   201007    95    70   79
7   201008    71    73   64
8   201009    81    52   75
9   201010    51    87   65
10  201011    89    94   84
11  201012    69    98   90
12  201013    98    99   72
13  201014    62    60   95
14  201015    53    58  100
15  201016    81    88   94
16  201017    53    74   85
17  201018    56    67   63
18  201019    87    65   57
19  201020    50    54   95

In [ ]:
# 열 값 추가 하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
print(data)

data['새과목'] = [57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
print(data)

        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
5   201006    58    96   60
6   201007    95    70   80
7   201008    71    73   51
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66
        학번  운영체제  논리회로   DB  새과목
0   201001    64    60   84   57
1   201002    98    55   79   54
2   201003    82    94  100   53
3   201004    69    93   52   80
4   201005    78    75   85   84
5   201006    58    96   60   88
6   201007    95    70   80   79
7   201008    71    73   51   64
8   201009    81    52   62   75
9   201010    51    87   80   65
10  201011    89    94   56   84
11  201012    69    98   51   90
12  201013    98    99   77   72
13  201014    62    60   54   95
14  201015    53    58   62  100
15  201016    81    88   87   94
16  201017    53    74   98   85
17  201018    56    67   68   63
18  201019    87    65   70   57
19  201020    50    54   66   95

In [ ]:
# 한 개의 값 변경하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
print( data.at[0, '운영체제'])

data.at[0, '운영체제'] = 100
print( data.at[0, '운영체제'])

64
100

In [ ]:
# 여러 개의 행 값 변경하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
print( data.loc[1:3, '운영체제'])

data.loc[1:3, '운영체제'] = [100, 99, 98]
print( data.loc[1:3, '운영체제'])

1    98
2    82
3    69
Name: 운영체제, dtype: int64
1    100
2     99
3     98
Name: 운영체제, dtype: int64

In [ ]:
# 여러 개의 행, 열 값 변경하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
print( data.loc[0:3, ['논리회로','DB']])

data.loc[0:3, ['논리회로','DB']] = [[10,10], [20,20], [30,30], [40,40]]
print( data.loc[0:3, ['논리회로','DB']])

   논리회로   DB
0    60   84
1    55   79
2    94  100
3    93   52
   논리회로  DB
0    10  10
1    20  20
2    30  30
3    40  40

In [ ]:
# drop()으로 행 또는 열 삭제하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data.drop(2)
data_2 = data.drop([5,7])
data_3 = data.drop('논리회로', axis = 1)
data_4 = data.drop(['운영체제','논리회로'], axis = 1)

print(data_1)
print(data_2)
print(data_3)
print(data_4)

        학번  운영체제  논리회로  DB
0   201001    64    60  84
1   201002    98    55  79
3   201004    69    93  52
4   201005    78    75  85
5   201006    58    96  60
6   201007    95    70  80
7   201008    71    73  51
8   201009    81    52  62
9   201010    51    87  80
10  201011    89    94  56
11  201012    69    98  51
12  201013    98    99  77
13  201014    62    60  54
14  201015    53    58  62
15  201016    81    88  87
16  201017    53    74  98
17  201018    56    67  68
18  201019    87    65  70
19  201020    50    54  66
        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
6   201007    95    70   80
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66
        학번  운영체제   DB
0   201001    64   84
1   201002    98   79
2   201003    82  100
3   201004    69   52
4   201005    78   85
5   201006    58   60
6   201007    95   80
7   201008    71   51
8   201009    81   62
9   201010    51   80
10  201011    89   56
11  201012    69   51
12  201013    98   77
13  201014    62   54
14  201015    53   62
15  201016    81   87
16  201017    53   98
17  201018    56   68
18  201019    87   70
19  201020    50   66
        학번   DB
0   201001   84
1   201002   79
2   201003  100
3   201004   52
4   201005   85
5   201006   60
6   201007   80
7   201008   51
8   201009   62
9   201010   80
10  201011   56
11  201012   51
12  201013   77
13  201014   54
14  201015   62
15  201016   87
16  201017   98
17  201018   68
18  201019   70
19  201020   66

In [ ]:
# pop()으로 값 삭제하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
data_1 = data.pop('논리회로')

print(data_1)
print(data)

0     60
1     55
2     94
3     93
4     75
5     96
6     70
7     73
8     52
9     87
10    94
11    98
12    99
13    60
14    58
15    88
16    74
17    67
18    65
19    54
Name: 논리회로, dtype: int64
        학번  운영체제   DB
0   201001    64   84
1   201002    98   79
2   201003    82  100
3   201004    69   52
4   201005    78   85
5   201006    58   60
6   201007    95   80
7   201008    71   51
8   201009    81   62
9   201010    51   80
10  201011    89   56
11  201012    69   51
12  201013    98   77
13  201014    62   54
14  201015    53   62
15  201016    81   87
16  201017    53   98
17  201018    56   68
18  201019    87   70
19  201020    50   66

In [ ]:
# 결측값 처리
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_1 = data.dropna()
print(data_1)

        학번  운영체제  논리회로   DB
0   201001    64    60   84
1   201002    98    55   79
2   201003    82    94  100
3   201004    69    93   52
4   201005    78    75   85
5   201006    58    96   60
6   201007    95    70   80
7   201008    71    73   51
8   201009    81    52   62
9   201010    51    87   80
10  201011    89    94   56
11  201012    69    98   51
12  201013    98    99   77
13  201014    62    60   54
14  201015    53    58   62
15  201016    81    88   87
16  201017    53    74   98
17  201018    56    67   68
18  201019    87    65   70
19  201020    50    54   66

In [ ]:
# 지정한 값을 다른 데이터로 변경
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data = data.replace(100, 0)
print(data)

        학번  운영체제  논리회로  DB
0   201001    64    60  84
1   201002    98    55  79
2   201003    82    94   0
3   201004    69    93  52
4   201005    78    75  85
5   201006    58    96  60
6   201007    95    70  80
7   201008    71    73  51
8   201009    81    52  62
9   201010    51    87  80
10  201011    89    94  56
11  201012    69    98  51
12  201013    98    99  77
13  201014    62    60  54
14  201015    53    58  62
15  201016    81    88  87
16  201017    53    74  98
17  201018    56    67  68
18  201019    87    65  70
19  201020    50    54  66

In [ ]:
# 함수를 사용하여 값 변경
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

def func(row):
  if row > 90:
    return 'A'
  elif row > 80:
    return 'B'
  else:
    return 'C'

data['성적'] = data['논리회로'].apply(func)
print(data)

        학번  운영체제  논리회로   DB 성적
0   201001    64    60   84  C
1   201002    98    55   79  C
2   201003    82    94  100  A
3   201004    69    93   52  A
4   201005    78    75   85  C
5   201006    58    96   60  A
6   201007    95    70   80  C
7   201008    71    73   51  C
8   201009    81    52   62  C
9   201010    51    87   80  B
10  201011    89    94   56  A
11  201012    69    98   51  A
12  201013    98    99   77  A
13  201014    62    60   54  C
14  201015    53    58   62  C
15  201016    81    88   87  B
16  201017    53    74   98  C
17  201018    56    67   68  C
18  201019    87    65   70  C
19  201020    50    54   66  C

In [ ]:
# insert()로 원하는 위치에 열 입력하기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

column_name = "새과목"
column_value = [57,54,53,80,84,88,79,64,75,65,84,90,72,95,100,94,85,63,57,95]
data.insert(1, column_name, column_value)
print(data)

        학번  새과목  운영체제  논리회로   DB
0   201001   57    64    60   84
1   201002   54    98    55   79
2   201003   53    82    94  100
3   201004   80    69    93   52
4   201005   84    78    75   85
5   201006   88    58    96   60
6   201007   79    95    70   80
7   201008   64    71    73   51
8   201009   75    81    52   62
9   201010   65    51    87   80
10  201011   84    89    94   56
11  201012   90    69    98   51
12  201013   72    98    99   77
13  201014   95    62    60   54
14  201015  100    53    58   62
15  201016   94    81    88   87
16  201017   85    53    74   98
17  201018   63    56    67   68
18  201019   57    87    65   70
19  201020   95    50    54   66

In [ ]:
# head = 앞부분 , tail = 뒷부분
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_head = data.head(3)
data_tail = data.tail()

print(data_head)
print(data_tail)

       학번  운영체제  논리회로   DB
0  201001    64    60   84
1  201002    98    55   79
2  201003    82    94  100
        학번  운영체제  논리회로  DB
15  201016    81    88  87
16  201017    53    74  98
17  201018    56    67  68
18  201019    87    65  70
19  201020    50    54  66

In [ ]:
# describe = 통계적 함수로 변경
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_describe = data.describe()
print(data_describe)

                 학번       운영체제       논리회로          DB
count      20.00000  20.000000  20.000000   20.000000
mean   201010.50000  72.250000  75.600000   71.100000
std         5.91608  16.179503  16.544676   15.296714
min    201001.00000  50.000000  52.000000   51.000000
25%    201005.75000  57.500000  60.000000   59.000000
50%    201010.50000  70.000000  73.500000   69.000000
75%    201015.25000  83.250000  93.250000   81.000000
max    201020.00000  98.000000  99.000000  100.000000

In [ ]:
# 행과 열 바꾸기
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_T = data.T
data_t = data.transpose()

print(data_T)
print(data_t)

          0       1       2       3       4       5       6       7       8   \
학번    201001  201002  201003  201004  201005  201006  201007  201008  201009
운영체제      64      98      82      69      78      58      95      71      81
논리회로      60      55      94      93      75      96      70      73      52
DB        84      79     100      52      85      60      80      51      62

          9       10      11      12      13      14      15      16      17  \
학번    201010  201011  201012  201013  201014  201015  201016  201017  201018
운영체제      51      89      69      98      62      53      81      53      56
논리회로      87      94      98      99      60      58      88      74      67
DB        80      56      51      77      54      62      87      98      68

          18      19
학번    201019  201020
운영체제      87      50
논리회로      65      54
DB        70      66
          0       1       2       3       4       5       6       7       8   \
학번    201001  201002  201003  201004  201005  201006  201007  201008  201009
운영체제      64      98      82      69      78      58      95      71      81
논리회로      60      55      94      93      75      96      70      73      52
DB        84      79     100      52      85      60      80      51      62

          9       10      11      12      13      14      15      16      17  \
학번    201010  201011  201012  201013  201014  201015  201016  201017  201018
운영체제      51      89      69      98      62      53      81      53      56
논리회로      87      94      98      99      60      58      88      74      67
DB        80      56      51      77      54      62      87      98      68

          18      19
학번    201019  201020
운영체제      87      50
논리회로      65      54
DB        70      66

In [ ]:
# sort_index()로 정렬하기
# axis = 0 : 행들이 정렬된다. ( default )
# axis = 1 : 열들이 정렬된다.
# ascending=False : 내림차순
# ascending=True : 오름차순
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

sort_index1 = data.sort_index(axis=0, ascending=False)
print(sort_index1)

sort_index2 = data.sort_index(axis=1, ascending=True)
print(sort_index2)

        학번  운영체제  논리회로   DB
19  201020    50    54   66
18  201019    87    65   70
17  201018    56    67   68
16  201017    53    74   98
15  201016    81    88   87
14  201015    53    58   62
13  201014    62    60   54
12  201013    98    99   77
11  201012    69    98   51
10  201011    89    94   56
9   201010    51    87   80
8   201009    81    52   62
7   201008    71    73   51
6   201007    95    70   80
5   201006    58    96   60
4   201005    78    75   85
3   201004    69    93   52
2   201003    82    94  100
1   201002    98    55   79
0   201001    64    60   84
     DB  논리회로  운영체제      학번
0    84    60    64  201001
1    79    55    98  201002
2   100    94    82  201003
3    52    93    69  201004
4    85    75    78  201005
5    60    96    58  201006
6    80    70    95  201007
7    51    73    71  201008
8    62    52    81  201009
9    80    87    51  201010
10   56    94    89  201011
11   51    98    69  201012
12   77    99    98  201013
13   54    60    62  201014
14   62    58    53  201015
15   87    88    81  201016
16   98    74    53  201017
17   68    67    56  201018
18   70    65    87  201019
19   66    54    50  201020

In [ ]:
# sort_value() : sort_value()의 axis인자가 0으로 설정될 때는 행들이 정렬된다. 따라서 정렬
# 의 기준을 by에서 열 이름을 정해줘야 한다. 만약 axis가 1일 경우는 열들이
# 정렬되므로 by의 값을 인덱스 중에 하나를 선택해야 한다.
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_sort = data.sort_values(axis=0, by='논리회로', ascending=True)
print(data_sort)

        학번  운영체제  논리회로   DB
8   201009    81    52   62
19  201020    50    54   66
1   201002    98    55   79
14  201015    53    58   62
13  201014    62    60   54
0   201001    64    60   84
18  201019    87    65   70
17  201018    56    67   68
6   201007    95    70   80
7   201008    71    73   51
16  201017    53    74   98
4   201005    78    75   85
9   201010    51    87   80
15  201016    81    88   87
3   201004    69    93   52
10  201011    89    94   56
2   201003    82    94  100
5   201006    58    96   60
11  201012    69    98   51
12  201013    98    99   77

In [ ]:
# sort_value()
# 인덱스 2를 기준으로 좌우로 열들을 정렬
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

data_sort1 = data.sort_values(axis=0, by='논리회로', ascending=True)
print(data_sort1)

data_sort2 = data.sort_values(axis=1, by=2, ascending=True)
print(data_sort2)

        학번  운영체제  논리회로   DB
8   201009    81    52   62
19  201020    50    54   66
1   201002    98    55   79
14  201015    53    58   62
13  201014    62    60   54
0   201001    64    60   84
18  201019    87    65   70
17  201018    56    67   68
6   201007    95    70   80
7   201008    71    73   51
16  201017    53    74   98
4   201005    78    75   85
9   201010    51    87   80
15  201016    81    88   87
3   201004    69    93   52
10  201011    89    94   56
2   201003    82    94  100
5   201006    58    96   60
11  201012    69    98   51
12  201013    98    99   77
    운영체제  논리회로   DB      학번
0     64    60   84  201001
1     98    55   79  201002
2     82    94  100  201003
3     69    93   52  201004
4     78    75   85  201005
5     58    96   60  201006
6     95    70   80  201007
7     71    73   51  201008
8     81    52   62  201009
9     51    87   80  201010
10    89    94   56  201011
11    69    98   51  201012
12    98    99   77  201013
13    62    60   54  201014
14    53    58   62  201015
15    81    88   87  201016
16    53    74   98  201017
17    56    67   68  201018
18    87    65   70  201019
19    50    54   66  201020

In [ ]:
# DataFrame.max() : 최대값을 반환하는 메서드이다. 
# axis = 0을 설정할 경우 각 열의 Series중에서 가장 큰 행값을 찾는다 (default).
# axis = 1을 설정하면 각 행 중에서 가장 큰 열 값을 찾는다.
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

print(data.max(axis = 0))
print(data.max(axis = 1))

학번      201020
운영체제        98
논리회로        99
DB         100
dtype: int64
0     201001
1     201002
2     201003
3     201004
4     201005
5     201006
6     201007
7     201008
8     201009
9     201010
10    201011
11    201012
12    201013
13    201014
14    201015
15    201016
16    201017
17    201018
18    201019
19    201020
dtype: int64

In [ ]:
# DataFrame.min() : 최소값을 반환하는 메서드이다
# axis = 0을 설정할 경우 각 열의 Series중에서 가장 작은 행값을 찾는다(default).
# axis = 1을 설정하면 각 행 중에서 가장 작은 열 값을 찾는다.
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

print(data.min(axis = 0))
print(data.min(axis = 1))

학번      201001
운영체제        50
논리회로        52
DB          51
dtype: int64
0     60
1     55
2     82
3     52
4     75
5     58
6     70
7     51
8     52
9     51
10    56
11    51
12    77
13    54
14    53
15    81
16    53
17    56
18    65
19    50
dtype: int64

In [ ]:
# DataFrame.sum() : 합계값을 반환하는 메서드이다.
# axis = 0을 설정할 경우 각 열 값들의 합을 반환한다(default).
# axis = 1을 설정하면 각 행들의 합을 반환한다.
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

print(data.sum(axis = 0))
print(data.sum(axis = 1))

학번      4020210
운영체제       1445
논리회로       1512
DB         1422
dtype: int64
0     201209
1     201234
2     201279
3     201218
4     201243
5     201220
6     201252
7     201203
8     201204
9     201228
10    201250
11    201230
12    201287
13    201190
14    201188
15    201272
16    201242
17    201209
18    201241
19    201190
dtype: int64

In [ ]:
# DataFrame.mean() : 평균값을 반환하는 메서드이다
# axis = 0을 설정할 경우 각 열 값들의 평균값을 반환한다(default).
# axis = 1을 설정하면 각 행들의 평균값을 반환한다
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
print(data.mean(axis = 0))
print(data.mean(axis = 1))

학번      201010.50
운영체제        72.25
논리회로        75.60
DB          71.10
dtype: float64
0     50302.25
1     50308.50
2     50319.75
3     50304.50
4     50310.75
5     50305.00
6     50313.00
7     50300.75
8     50301.00
9     50307.00
10    50312.50
11    50307.50
12    50321.75
13    50297.50
14    50297.00
15    50318.00
16    50310.50
17    50302.25
18    50310.25
19    50297.50
dtype: float64

In [ ]:
# DataFrame.median() : 중앙값을 반환하는 메서드이다. 
# axis = 0을 설정할 경우 각 열 값들의 중앙값을 반환한다(default).
# axis = 1을 설정하면 각 행들의 중앙값을 반환한다.
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')

print(data.median(axis = 0))
print(data.median(axis = 1))

학번      201010.5
운영체제        70.0
논리회로        73.5
DB          69.0
dtype: float64
0     74.0
1     88.5
2     97.0
3     81.0
4     81.5
5     78.0
6     87.5
7     72.0
8     71.5
9     83.5
10    91.5
11    83.5
12    98.5
13    61.0
14    60.0
15    87.5
16    86.0
17    67.5
18    78.5
19    60.0
dtype: float64

In [ ]:
# DataFrame.rank() : 순위를 반환하는 메서드
# numeric_only=True, numeric_only=False : 숫자만 순위 매김
# na_option(keep, top, bottom) : NaN값 유지, 가장 작은 수, 가장 높은 수
import pandas as pd

data = pd.read_csv('/sample_data/sample.csv')
data_rank = data.rank(axis = 0, method='min', ascending=False, numeric_only=True, na_option='top')
print(data_rank)

      학번  운영체제  논리회로    DB
0   20.0  13.0  15.0   5.0
1   19.0   1.0  18.0   8.0
2   18.0   6.0   4.0   1.0
3   17.0  11.0   6.0  18.0
4   16.0   9.0   9.0   4.0
5   15.0  15.0   3.0  15.0
6   14.0   3.0  12.0   6.0
7   13.0  10.0  11.0  19.0
8   12.0   7.0  20.0  13.0
9   11.0  19.0   8.0   6.0
10  10.0   4.0   4.0  16.0
11   9.0  11.0   2.0  19.0
12   8.0   1.0   1.0   9.0
13   7.0  14.0  15.0  17.0
14   6.0  17.0  17.0  13.0
15   5.0   7.0   7.0   3.0
16   4.0  17.0  10.0   2.0
17   3.0  16.0  13.0  11.0
18   2.0   5.0  14.0  10.0
19   1.0  20.0  19.0  12.0