<a href="https://colab.research.google.com/github/Jiwon510/KNUT_Club/blob/master/%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# CSV 읽어오기
import pandas as pd

data = pd.read_csv('sample.csv')

In [3]:
# 1. 총합 평균 

# 1-1 인덱스 설정
data = data.set_index('학번', drop=True)

# 총합, 평균 구하기 : axis=1이면 각 행의 합, axis=0이면 각 열의 합
sum = data.sum(axis = 1)
mean = data.mean(axis = 1)

# 열 추가
data['총합'] = sum
data['평균'] = mean
print(data)

        운영체제  논리회로   DB   총합         평균
학번
201001    64    60   84  208  69.333333
201002    98    55   79  232  77.333333
201003    82    94  100  276  92.000000
201004    69    93   52  214  71.333333
201005    78    75   85  238  79.333333
201006    58    96   60  214  71.333333
201007    95    70   80  245  81.666667
201008    71    73   51  195  65.000000
201009    81    52   62  195  65.000000
201010    51    87   80  218  72.666667
201011    89    94   56  239  79.666667
201012    69    98   51  218  72.666667
201013    98    99   77  274  91.333333
201014    62    60   54  176  58.666667
201015    53    58   62  173  57.666667
201016    81    88   87  256  85.333333
201017    53    74   98  225  75.000000
201018    56    67   68  191  63.666667
201019    87    65   70  222  74.000000
201020    50    54   66  170  56.666667

In [4]:
# 2. 총합을 기준으로 순위
data['순위'] = data['총합'].rank()
print(data)

        운영체제  논리회로   DB   총합         평균    순위
학번
201001    64    60   84  208  69.333333   7.0
201002    98    55   79  232  77.333333  14.0
201003    82    94  100  276  92.000000  20.0
201004    69    93   52  214  71.333333   8.5
201005    78    75   85  238  79.333333  15.0
201006    58    96   60  214  71.333333   8.5
201007    95    70   80  245  81.666667  17.0
201008    71    73   51  195  65.000000   5.5
201009    81    52   62  195  65.000000   5.5
201010    51    87   80  218  72.666667  10.5
201011    89    94   56  239  79.666667  16.0
201012    69    98   51  218  72.666667  10.5
201013    98    99   77  274  91.333333  19.0
201014    62    60   54  176  58.666667   3.0
201015    53    58   62  173  57.666667   2.0
201016    81    88   87  256  85.333333  18.0
201017    53    74   98  225  75.000000  13.0
201018    56    67   68  191  63.666667   4.0
201019    87    65   70  222  74.000000  12.0
201020    50    54   66  170  56.666667   1.0

In [5]:
# 3. 순위를 기준으로 오름차순
data = data.sort_values(axis=0, by='순위',ascending=True)
print(data)

        운영체제  논리회로   DB   총합         평균    순위
학번
201020    50    54   66  170  56.666667   1.0
201015    53    58   62  173  57.666667   2.0
201014    62    60   54  176  58.666667   3.0
201018    56    67   68  191  63.666667   4.0
201009    81    52   62  195  65.000000   5.5
201008    71    73   51  195  65.000000   5.5
201001    64    60   84  208  69.333333   7.0
201006    58    96   60  214  71.333333   8.5
201004    69    93   52  214  71.333333   8.5
201012    69    98   51  218  72.666667  10.5
201010    51    87   80  218  72.666667  10.5
201019    87    65   70  222  74.000000  12.0
201017    53    74   98  225  75.000000  13.0
201002    98    55   79  232  77.333333  14.0
201005    78    75   85  238  79.333333  15.0
201011    89    94   56  239  79.666667  16.0
201007    95    70   80  245  81.666667  17.0
201016    81    88   87  256  85.333333  18.0
201013    98    99   77  274  91.333333  19.0
201003    82    94  100  276  92.000000  20.0

In [6]:
# 4. 등급
def func(row):
  if row > 90:
    return 'A'
  elif row > 80:
    return 'B'
  else:
    return 'C'

data['학점'] = data['평균'].apply(func)
print(data)

        운영체제  논리회로   DB   총합         평균    순위 학점
학번
201020    50    54   66  170  56.666667   1.0  C
201015    53    58   62  173  57.666667   2.0  C
201014    62    60   54  176  58.666667   3.0  C
201018    56    67   68  191  63.666667   4.0  C
201009    81    52   62  195  65.000000   5.5  C
201008    71    73   51  195  65.000000   5.5  C
201001    64    60   84  208  69.333333   7.0  C
201006    58    96   60  214  71.333333   8.5  C
201004    69    93   52  214  71.333333   8.5  C
201012    69    98   51  218  72.666667  10.5  C
201010    51    87   80  218  72.666667  10.5  C
201019    87    65   70  222  74.000000  12.0  C
201017    53    74   98  225  75.000000  13.0  C
201002    98    55   79  232  77.333333  14.0  C
201005    78    75   85  238  79.333333  15.0  C
201011    89    94   56  239  79.666667  16.0  C
201007    95    70   80  245  81.666667  17.0  B
201016    81    88   87  256  85.333333  18.0  B
201013    98    99   77  274  91.333333  19.0  A
201003    82    94  100  276  92.000000  20.0  A